{% extends 'frello/base.html' %}

{% block main %}
  <div class="columns">
    <div class="column is-full">
      <h1 class="is-size-1">Welcome {{ user.username }} 🌼!!!</h1>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <h1 class="is-size-1">Fancy Card 1</h1>
    </div>
    <div class="column is-half">
      <h1 class="is-size-1">Fancy Card 2</h1>
    </div>

  </div>

  <div class="columns">
    <div class="column is-full">
      <h1 class="is-size-1">Fancy Chart</h1>
    </div>
  </div>

{% endblock main %}
