{% extends 'frello/base.html' %} {% block main %}
  <div class="box columns m-2">
    <div class="column is-full">
      <h1 class="title">{{ project.name }}</h1>
      {% if project.description %}
        <h2 class="subtitle">{{ project.description }}</h2>
      {% endif %}
    </div>
  </div>

  <div class="columns m-2">
    <div class="box column is-three-quarters has-background-warning m-1">
      <form hx-post="{% url 'frello:issue-add' project.id %}" class="m-1" hx-target="#issue-list">
        {% csrf_token %}
        <div class="field">
          <div class="control has-icons-left m-1">
            <input
              class="input"
              type="text"
              name="title"
              placeholder="Issue Name"
            />
            <span class="icon is-small is-left">
              <i class="bx bxs-book-open"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left m-1">
            <textarea class="textarea" name="description" placeholder="Issue Detail"></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left m-1">
            <button class="button is-info m-1">Add Issue</button>
          </div>
        </div>
      </form>
      <div class="menu" id="issue-list">
        {% include "frello/issue_list.html" %}
      </div>
    </div>

    <article class="panel is-primary column m-1">

      <p class="panel-heading">
        <h1 class="is-size-4">Contributors</h1>
      </p>

      <div id="contributor-list">
        {% include "frello/contributor_list.html" %}
      </div>

    </article>

{% endblock main %}
